
	<h1>SERVICE STATISTICS</h1>
		<h2>CLIENT SATISFACTION VOTING SYSTEM REPORT</h2>
		
	   <h2>SERVICE NAME: <%=@dept%></h2>
        <li><tr><h3>TOTAL: <%=@total%></tr></h2></li>
        <li><tr>FULLY SATISFIED:</tr><tr><%=@fullysatified%></tr></li>
        <li>SATISFIED: <%=@satisfies%></li>
        <li>AT LEAST SATISFIED:<%=@atleast%></li>
        <li>A BIT SATISFIED:<%=@abit %></li>
        <li>NOT SATISFIED:<%=@notsat%></li>

              



