<form name = "/report/show_dept" action="/report/show_dept"  method="post">
<h1>SERVICE STATISTICS</h1>


<table>
	  <h2>SERVICE NAME: <%=@dept%></h2>
	<li><tr><h3>TOTAL: <%=@total%></tr></h2></li>
	<li><tr>FULLY SATISFIED:</tr><tr><%=@fullysatified%></tr></li>
	<li>SATISFIED: <%=@satisfies%></li>
	<li>AT LEAST SATISFIED:<%=@atleast%></li>
	<li>A BIT SATISFIED:<%=@abit  %></li>
	<li>NOT SATISFIED:<%=@notsat%></li>


	</table>
     
<p><input type="submit" value="back"/></p>
</form>
