<form action="finish" method="post">
<center><h1>SPECIFY THE REASON FOR YOUR ANSWER</h1></center>

<center><table>
<tr>
	<td></td>
</tr>
<% @issue.each do |issue|%>
	<tr>
		<td><h2><input type="checkbox" name="issues[]" value="<%= issue.name %>"><%= issue.name %></input></h2></td>
	</tr>
<% end %></table>
<%= hidden_field_tag("service_type", params[:service_type])%>
<%= hidden_field_tag("vote_type", params[:vote_type])%>
<input type="submit" value="Submit"/>
</form>
