<html>
		<script type="text/javascript" language="javascript" src="/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer  ></script>
		<script type="text/javascript" language="javascript" src="/touchscreentoolkit/lib/javascripts/dashboard.js" defer  ></script>
	 <body id="content">


		

<form name = "index" method = post action ="/service/keep_barcode" onsubmit="return validateForm()">
<p>

<strong>BARCODE</strong> <input name = "barcode" tt_pageStyleClass = "barcode NoKeyboard" type="text" size="20" name="bcode"></br>

<input type="submit" value="Submit"/>
 <% if flash[:notice] %>
<B><div id="notice" ><%= flash[:notice] %></div></B>
<% end -%>


</form>
</table>
</body>
</html>

